@font-face {font-family: "Brush Script MT"; src: url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.eot"); src: url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff") format("woff"), url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.svg#Brush Script MT") format("svg"); }


#site-horizontal{
  background:#CE2727;
  color:black;
  position:absolute;
  left:0;right:0;top:0;bottom:0;
  display:table-cell;
   height:200%;
  line-height:100%;
  vertical-align:middle;
  text-align:center;
  font-size:250%;
}


@media screen and (orientation: landscape) {

  #site-horizontal{display:block;}
  #fixe{display: none;}

}

@media screen and (orientation: portrait) {

  #site-horizontal{display:none;}

}

/* Copyright du site */
footer
{
  position: fixed; /*fixer le texte sur la page, ne bouge pas même si la page descent*/
  bottom: 1%;
  right: 1%;
  color: white;
  font-family: Trebuchet MS;
}


/* Taille et marge des icon de selection de pages */
.selection{
  width: 40%;
  padding: 2%;
}

/* Police écriture du site */
* {
  font-family: Trebuchet MS;
}

/* Position absolue pour les pages */
.page {
  position: absolute;
}

/* Placer la page 1 */
#p1 {
  left: 0;
}

/* Placer les page 2,3,4 et 5 */
/*#p2, #p3, #p4, #p5 {
  left: 200%;
}*/

/*#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);  Transition entre les pages avec les variantes pour chaque navigateur
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s; /* Delay transition
}*/

/* Met l'accueil avec un fond noir quand on est pas sur la page 1 */
/*#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: black;
}*/

.center {
  color: #fff;
  font-size: 32px;
  display: block;
}

/* change l'opaciter et la taille des icones du menu survoller */
/*#hover1:hover,
#hover2:hover,
#hover3:hover,
#hover4:hover,
#hover5:hover {
  opacity: 0.5;
  width: 45%;
}*/

/* Réglage de l'interligne */
.page .center .titre {
  line-height: 2;
}

/* Parametre des icone du menu */
ul {
  position: fixed;
  z-index: 1;
  bottom: 1%;
  left: 0;
  margin: auto;
  height: 5%;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#fixe
{
   position: fixed;
   z-index: 1;
   width: 100%;
   height: 30px;
   bottom: 3%;
}

.menuimg{
  margin: 1%;
  width: 10%;
}

/* Enlever les trucs chiant autour d'un texte écrit dans la balise <a> */
a {
  text-decoration: none;
}

/* Titre et texte en block */
.titre, .para {
  display: block;
}

/* Taille police Titre */
.titre {
  position: relative;
  top: 2vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: 0;
}

.titregspv2 {
  margin-bottom: 5%;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
}

.titregsp2 {
  font-family: Brush Script MT;
  font-size: 250%;
  margin: 0.5%;
  color: black;
}

.titregsp3 {
  font-family: Brush Script MT;
  font-size: 8vw;
  margin: 0.5%;
  color: black;
}

.errorco {
  font-family: Brush Script MT;
  font-size: 3vw;
  margin: 0.5%;
  color: black;
}

.logob{
  width: 4.5%;
}

/* Taille police paraghraphe */
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 200%;
  color: black;
  margin: 10%;
}

#col{
   column-count: 2;
}

.cadre{
  border: 4px solid black;
  background-color: #CE2727;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 90%;
  padding: 2%;
  padding-top: 0;
  margin-top: 0%;
}

/*@media only screen and (min-height : 570px) {
.cadre{
  border: 4px solid black;
  background-color: #CE2727;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 90%;
  padding: 2%;
  padding-top: 0;
  margin-top: 0%;
}.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 210%;
  color: black;
  margin: 8%;
}
}*/

/*@media only screen and (max-width : 380px) {
.cadre{
  border: 4px solid black;
  background-color: #CE2727;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 90%;
  padding: 2%;
  padding-top: 0;
  margin-top: 0%;
}.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 210%;
  color: black;
  margin: 8%;
}
}*/

/* parametre global des pages ainsi que transition de leur contenue */
.page .center {
  position: absolute;
  top: -2vw;
  bottom: 0;
  right: 10%; /* 10% du menu a gauche */
  left: 0;
  width: 800px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

/* placer page 1  et un peut de responsive */
.page#p1 .center {
  transform: translateX(10%);
  height: 220px
}

.image {
  position: relative;
  top: 4vw;
  width: 100%;
}

.gossip{
  position: absolute;
  font-family: Brush Script MT;
  margin: 1px;
  width: 89.9%;
  top: 2%;
}

.entre1 {
  margin: -1% 1% 5%;
  padding: 0 2rem;
  width: 25%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.entre1v2 {
  margin: -1% 1% 5%;
  padding: 0 0.5rem;
  width: 40%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}


.entre2 {
  width: 80%; height: 3rem;
  margin: 0% 8% 1.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.entre3 {
  width: 80%; height: 10%;
  margin: 0% 8% 1.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.entre4 {
  width: 80%; height: 2.5rem;
  margin: 0% 0% -1rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.entre5 {
  width: 70%; height: 30%;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.valid {
  width: 40%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  outline: none;
  margin-bottom: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: #4A36C8;
  transition: 200ms;
}

.validv2 {
  width: 40%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  outline: none;
  margin-top: 3%;
  margin-bottom: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: #4A36C8;
  transition: 200ms;
}

.valid2 {
  width: 40%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 150%;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  outline: none;
  margin-bottom: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: #4A36C8;
  transition: 200ms;
  margin-top: 2%;
  margin-right: 1%;
}

.valid:hover {
  background: #8CCE27;
}

.valid2:hover {
  background: #0593B2;
}

.center3{
  position: absolute;
  right: 50%;
}

.center5{
  position: relative;
  top: 40%;
}

.center6{
  position: relative;
  margin-top: 8vw;
  right: 5%;
}

textarea{
  resize: none;
}

.msgerror {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 100%;
}

/************************* Page auth.php *********************************/

.connexion {
  position: relative;
  width: 18rem;
  top: calc(50% - 9.25rem);
  margin: auto;
  font-family: Trebuchet MS;
  font-weight: 300;
  text-align: center;
}
.titre2 {
  margin: 0 0 1.5rem;
  padding: 0;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 300;
  color: #fff;
}

.entre {
  box-sizing: border-box;
  display: block;
  margin: 0 0 1.2rem;
  padding: 0 1rem;
  width: 100%; height: 3rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}

.envoi {
  margin-bottom: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: #00B0FF;
  transition: 200ms;
}
.envoi:hover {
  background: #8CCE27;
}

.register{
  display: block;
  width: 100%;
  height: 5%;
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 1.5rem;
  padding-top: 4%;
  padding-bottom: 4%;
  color: #fff;
  background: #00B0FF;
  transition: 200ms;
}

.register:hover {
  background: #8CCE27;
}

.erreur {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 20%;
}

/************************* Page inscrit.php *********************************/

.inscrit{
  background-color: #FF6347;
  color: black;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 2vw;
  height: 100%;
  padding: 15%;
}

.inscrit a{
  text-decoration: none;
  color: #27ADCE;
}

/****************************** Notif ************************************/
.contexte {
   margin: 40px auto;
   width: 400px;
}

.contexte .notif {
   margin: 20px 0;
}

.notif {
   position: relative;
   padding: 6% 15% 6% 26%;
   min-height: 2%;
   line-height: 140%;
   background: #F4F4F4;
   border-radius: 3px;
   box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.12);
}

.logo2notif {
   position: absolute;
   top: 20%;
   left: 3%;
   width: 20%;
}

.notif p {
   font-size: 0.9vw;
   color: #666666;
}

.notif-titre {
   margin: 0 0 5px;
   font-size: 1.3vw;
   font-weight: bold;
   color: #444444;
}

.notif-titre:before,
.notif-titre:after {
   content: '';
   position: absolute;
   background: #FFFFFF;
   border-radius: 3px;
}

.notif-complet {
   position: absolute;
   top: 3%;
   right: 0;
   height: 16px;
   padding: 4px 3px 5px;
}

.logocheck{
  width: 100%;
}

/*Responsive téléphone*/

@media only screen and (hover: none) and (pointer: coarse){
  #menu2{
  display: none;
}
  .connexion {
  position: absolute;
  right: 5%;
}
footer{
  display: none;
}
}

/*Iphone X*/
@media screen and (min-device-height: 800px) {
  .titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: 5%;
}.cadre{
  margin-top: 5%;
  margin-bottom: 0%;
}
}

/*Iphone 5/se */
@media screen and (max-device-height: 600px) {
  .titregsp{
    font-size: 200%;
  }
  .entre3 {
  width: 80%; height: 5rem;
  margin: 0% 8% 1.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.entre1 {
  margin: -1% 1% 2%;
  padding: 0 2rem;
  width: 25%; height: 2rem;
  appearance: none;
  font-family: Trebuchet MS;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.entre2 {
  width: 80%; height: 2rem;
  margin: 0% 5% 1rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.entre3 {
  width: 80%; height: 5rem;
  margin: 0% 5% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 170%;
  color: black;
  margin: 3%;
}
.entre4 {
  width: 70%; height: 10%;
  margin: 0% 0% -1rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.entre5 {
  width: 70%; height: 4rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1rem;
  margin-top: 1%;
  height: 2rem;
}
}

/*Iphone 11 pro*/
@media only screen and (min-device-width: 370px) and (max-device-width: 380px) and (max-device-width: 812px) {
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1.3rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 200%;
  color: black;
  margin: 7%;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (min-device-width: 410px) and (max-device-height: 740px) {
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 210%;
  color: black;
  margin: 3%;
}
.entre5 {
  width: 70%; height: 6rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (min-device-width: 370px) and (max-device-height: 670px) {
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 210%;
  color: black;
  margin: 3%;
}
.entre5 {
  width: 70%; height: 6rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (min-device-width: 350px) and (max-device-width: 365px) and (max-device-height: 750px) {
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 210%;
  color: black;
  margin: 8%;
}
.entre5 {
  width: 70%; height: 6rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (min-device-width: 350px) and (max-device-width: 365px) and (max-device-height: 660px) {
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 190%;
  color: black;
  margin: 5%;
}
.entre5 {
  width: 70%; height: 6rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (min-device-width: 350px) and (max-device-width: 365px) and (min-device-height: 660px) and (max-device-height: 780px){
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 0%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 200%;
  color: black;
  margin: 8%;
}
.entre5 {
  width: 70%; height: 7rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 1%;
  height: 2.7rem;
}
}

@media only screen and (device-width: 360px) and (device-height: 780px){
.titregsp {
  position: relative;
  top: -5vw;
  font-family: Brush Script MT;
  font-size: 250%;
  color: black;
  margin-bottom: -0.7rem;
}
.entre3 {
  width: 80%; height: 8rem;
  margin: 0% 8% 0.2rem;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.cadre{
  margin-top: 5%;
  margin-bottom: 0%;
}
.para {
  position: relative;
  display: inline-block;
  font-family: Brush Script MT;
  font-size: 200%;
  color: black;
  margin: 8%;
}
.entre5 {
  width: 70%; height: 7rem;
  margin: 0% 0% 0rem;
  margin-top: 5%;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 130%;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
  outline: none;
}
.valid2 {
  font-size: 1.2rem;
  margin-top: 10%;
  height: 2.7rem;
}
}