/* Couleurs arrière plan des pages */
#p1 { background-color: #CE2727; }
#p2 { background-color: #82bd37; }
#p3 { background-color: #FF6347; }
#p4 { background-color: #27ADCE; }
#p5 { background-color: #8D1C2A; }